html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;    
}

.container {
    display: flex;
    flex-direction: column;
    background-color: rgb(162, 0, 255);
    width: 400px;
    height: 550px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    color: #FFF;
    font: bold 2.5rem Arial, Helvetica, sans-serif;
    border-bottom: 2px solid #FFF;
    padding: 10px 0;
    
}

.input {
    display: flex;
    width: 300px;
    height: 50px;
    justify-content: space-between;
    align-items: center;
}

.input input {
    width: 200px;
    height: 50px;
    border-radius: 5px;
    border: none;
    outline: 0;
    font: bold 1.3rem Arial, Helvetica, sans-serif;
    text-align: center;
}

.input label {
    color: #FFF;
    font: bold 1.3rem Arial, Helvetica, sans-serif;
}

button {
    width: 300px;
    height: 40px;
    font: bold 1.5rem Arial, Helvetica, sans-serif;
    background: #4e018d;
    color: #Fff;
    outline: none;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.result {
    display: flex;
    margin-top: 20px;
    align-items: center;
    width: 300px;
    height: 150px;
    border-radius: 5px;
    font: italic 1.5rem Arial;
    box-shadow: 0 0 3px #FFF;
    background: #4e018d;
    color: rgb(255, 255, 255);
    padding: 20px;
    box-sizing: border-box;
    user-select: none;
}